.Introducao h1 {
    font-size: 30px; 
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
}

.Introducao h2 {
    flex: 1;
    font-size: 25px;
    text-align: justify; 
    padding: 10px 100px;
    font-weight: bold;
    color: #FFFFFF;
}